:root {
	--color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Types of Pokemon */
.water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}

/* img {
	filter: drop-shadow(
		0 0 10px rgba(0, 0, 0, .3)
	);
}

img:hover {
	filter: drop-shadow(
		0 0 10px rgba(0, 0, 0, .6)
	);
} */

.cssbuttons-io-button {
	border-radius: 0.9em;
	border: none;
	box-shadow: inset 0 0 1.6em -0.6em #0000FF;
  	overflow: hidden;
	font-size: 17px;
	display: flex;
}

.arrow {
	color: #0000FF;
}

.cssbuttons-io-button .icon {
	background: white;
	margin-left: 1em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.0em;
	width: 2.0em;
	border-radius: 0.7em;
	/* box-shadow: 0.1em 0.1em 0.6em 0.2em #0000FF; */
	right: 0.3em;
	transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
	width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon .arrow {
	width: 1.1em;
	transition: transform 0.3s;
	color: #0000FF;
}

.cssbuttons-io-button:active .icon {
	transform: scale(0.95);
}


.tag-shine {	
	background: linear-gradient(to right, #9f9f9f 0%, #fff 50%, #868686 100%);
	background-size: 200% auto;
	background-position: 0%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 8s infinite linear;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

